Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [9]:
l = ("Shubham", [1, 2, 3, 4], 3.14, (5, 6, 7))
print(l)

('Shubham', [1, 2, 3, 4], 3.14, (5, 6, 7))

In [10]:
type("l")

str

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [1]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = ['DS','ML','Python']
var4 = 1.0

print("Data type of var1:", type(var1))
print("Data type of var2:", type(var2))
print("Data type of var3:", type(var3))
print("Data type of var4:", type(var4))

Data type of var1: <class 'str'>
Data type of var2: <class 'str'>
Data type of var3: <class 'list'>
Data type of var4: <class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [8]:
a = 10
b = 3

In [9]:
# Division
a / b

3.3333333333333335

In [11]:
# Modulus
a % b

1

In [12]:
# Floor Division
a // b

3

In [13]:
# Exponentiation
a ** b

1000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [14]:
l = [2,3,8,"shubham" ,True,{33.4,64,89}]

In [15]:
for i in l :
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'set'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [21]:
A = 64
B = 2

count = 0

while A % B == 0:
    A = A / B
    count += 1

if count > 0:
    print(f"The number is divisible by {B} exactly {count} times.")
else:
    print(f"The number is not divisible by {B}.")

The number is divisible by 2 exactly 6 times.

In [33]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]  

for i in l:
    if i % 3 == 0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable Data Types
Mutable data types are those that allow their elements to be modified after the object has been created. 
This means you can change, add, or remove elements without creating a new object.

In [37]:
l = [1, 2, 3]

In [39]:
l[0]

1

In [40]:
l[0] = 8

In [41]:
l

[8, 2, 3]

Immutable Data Types
Immutable data types are those that do not allow their elements to be modified after the object has been created.
Any modification to an immutable object results in a new object being created.

In [46]:
s = "shubham"

In [47]:
l= [2,3,4,5,6,8,7,9,'shubham',3+7j,True,86.24]

In [48]:
type("l")

str

In [49]:
s

'shubham'